<ul class="nav nav-pills mb-2">
    <li class="nav-item">
        <a class="@(ActiveTab == UserProfileListingType.Overview ? "nav-link active" : "nav-link")"
           href="/user/@UserName/overview">
            Overview
        </a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == UserProfileListingType.Comments ? "nav-link active" : "nav-link")"
           href="/user/@UserName/comments">
            Comments
        </a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == UserProfileListingType.Submitted ? "nav-link active" : "nav-link")"
           href="/user/@UserName/submitted">
            Submitted
        </a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == UserProfileListingType.Gilded ? "nav-link active" : "nav-link")"
           href="/user/@UserName/gilded">
            Gilded
        </a>
    </li>
    @if (IsSelf)
    {
        <li class="nav-item">
            <a class="@(ActiveTab == UserProfileListingType.Upvoted ? "nav-link active" : "nav-link")"
           href="/user/@UserName/upvoted">
                Upvoted
            </a>
        </li>
        <li class="nav-item">
            <a class="@(ActiveTab == UserProfileListingType.Downvoted ? "nav-link active" : "nav-link")"
           href="/user/@UserName/downvoted">
                Downvoted
            </a>
        </li>
        <li class="nav-item">
            <a class="@(ActiveTab == UserProfileListingType.Hidden ? "nav-link active" : "nav-link")"
           href="/user/@UserName/hidden">
                Hidden
            </a>
        </li>
        <li class="nav-item">
            <a class="@(ActiveTab == UserProfileListingType.Saved ? "nav-link active" : "nav-link")"
           href="/user/@UserName/saved">
                Saved
            </a>
        </li>
    }
</ul>
