<div class="card text-dark bg-light mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col-auto d-flex justify-content-center flex-column">
                <img src="@AwardData.Icon70" class="rounded trophy-icon-img" alt="@AwardData.Name" />
            </div>
            <div class="col">
                <h5 class="card-title">@AwardData.Name</h5>
                @if (AwardData.GrantedAt != default)
                {
                    <h6 class="card-subtitle mb-2 text-muted">@AwardData.GrantedAtDateTime</h6>
                }
                @if (!string.IsNullOrWhiteSpace(AwardData.Description))
                {
                    <p class="card-text">@AwardData.Description</p>
                }
                @if (!string.IsNullOrWhiteSpace(AwardData.Url))
                {
                    <a href="@AwardData.Url" class="card-link">@AwardData.Url</a>
                }
            </div>
        </div>
    </div>
</div>