@using System.Web

@if (MultiReddit != null)
{
    <Card TextColor="ThemeService.AppTheme.TextColor"
      Background="ThemeService.AppTheme.Background"
      Margin="ThemeService.AppTheme.SpacingSame"
      Border="ThemeService.AppTheme.Border">
        <CardBody>
            <Row>
                <Column ColumnSize="ColumnSize.IsAuto"
                    Flex="Flex.JustifyContent.Center.Column"
                    Width="Width.Is25"
                    class="multireddit-icon-col">
                    <Image Border="Border.Rounded"
                       Source="@MultiReddit.Data.IconUrl" />
                </Column>
                <Column>
                    <CardSubtitle Size="6"
                              TextColor="TextColor.Muted"
                              Margin="ThemeService.AppTheme.SpacingSame">
                        <Anchor To="@MultiReddit.Data.Path"
                            Class="text-decoration-none">
                            @MultiReddit.Data.Path
                        </Anchor>
                    </CardSubtitle>
                    <CardTitle Size="4">
                        @MultiReddit.Data.DisplayName
                    </CardTitle>
                    <CardSubtitle Size="6"
                              TextColor="TextColor.Muted"
                              Margin="ThemeService.AppTheme.SpacingSame">
                        @(MultiReddit.Data.Subreddits?.Count ?? 0) communities in this custom feed, @MultiReddit.Data.Visibility
                    </CardSubtitle>
                    <Flair Over18="@MultiReddit.Data.Over18" />
                    @((MarkupString)HttpUtility.HtmlDecode(MultiReddit.Data.DescriptionHtml))
                </Column>
            </Row>
            @if (!ContentCollapsed)
            {
                <Row Margin="Margin.Is3.FromTop"
             NoGutters
             Flex="Flex.JustifyContent.Center.Row">
                    <ListGroup>
                        @if (MultiReddit.Data.CanEdit)
                        {
                            <ListGroupItem Background="ThemeService.AppTheme.Background"
                               Class="border-secondary">
                                <Addons>
                                    <Addon AddonType="AddonType.Body">
                                        <TextEdit Background="ThemeService.AppTheme.Background"
                                      TextColor="ThemeService.AppTheme.TextColor"
                                      Placeholder="Subreddit name"
                                      Border="ThemeService.AppTheme.Border"
                                      @bind-Text="AddSubredditName" />
                                    </Addon>
                                    <Addon AddonType="AddonType.End">
                                        <Button Color="Color.Success"
                                    @onclick="AddSubredditButton_OnClick">
                                            Add
                                        </Button>
                                    </Addon>
                                </Addons>
                            </ListGroupItem>
                        }
                        @foreach (var subreddit in MultiReddit.Data.Subreddits.OrderBy(_ => _.Name))
                        {
                            <ListGroupItem Background="ThemeService.AppTheme.Background"
                               TextColor="ThemeService.AppTheme.TextColor"
                               Class="border-secondary">
                                <Row>
                                    <Column>
                                        <Row>
                                            <Anchor Width="Width.Auto"
                                        Class="text-decoration-none"
                                        To="@($"/r/{subreddit.Name}")">
                                                /r/@subreddit.Name
                                            </Anchor>
                                        </Row>
                                        @if (subreddit.Detail != null)
                                        {
                                            @if (subreddit.Detail.Subscribers.HasValue)
                                            {
                                                <Row>
                                                    <Span Width="Width.Auto">
                                                        @subreddit.Detail.Subscribers.Value.ToDisplayString() members
                                                    </Span>
                                                </Row>

                                            }
                                            @if (subreddit.Detail.Over18.HasValue)
                                            {
                                                <Row>
                                                    <Span Width="Width.Auto">
                                                        <Flair Over18="@subreddit.Detail.Over18.Value" />
                                                    </Span>
                                                </Row>
                                            }
                                        }
                                    </Column>
                                    @if (MultiReddit.Data.CanEdit)
                                    {
                                        <Column ColumnSize="ColumnSize.IsAuto"
                                Flex="Flex.Column.JustifyContent.Center">
                                            <Button Color="Color.Danger"
                                    @onclick="@(() => RemoveSubredditButton_OnClick(subreddit.Name))">
                                                Remove
                                            </Button>
                                        </Column>
                                    }
                                </Row>
                            </ListGroupItem>
                        }
                    </ListGroup>
                </Row>
            }
        </CardBody>
        <CardFooter Class="border-secondary"
                Padding="Padding.Is0.FromBottom">
            <Row>
                <Column ColumnSize="ColumnSize.IsAuto"
                    Padding="Padding.Is2.FromBottom">
                    <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                        Border="ThemeService.AppTheme.Border"
                        @onclick="() => ContentCollapsed = !ContentCollapsed">
                        <span class="oi @(ContentCollapsed ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
                    </Button>
                </Column>
                <Column ColumnSize="ColumnSize.IsAuto"
                    Padding="Padding.Is2.FromBottom">
                    <Buttons>
                        @if (MultiReddit.Data.CanEdit)
                        {
                            <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                            Border="ThemeService.AppTheme.Border"
                            @onclick="EditMultiRedditButton_OnClick">
                                Edit
                            </Button>
                        }
                        @if (RedditService.LoggedIn)
                        {
                            <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                            Border="ThemeService.AppTheme.Border"
                            @onclick="CopyMultiRedditButton_OnClick">
                                Copy
                            </Button>
                        }
                        @if (MultiReddit.Data.CanEdit)
                        {
                            <Button Color="Color.Danger"
                            @onclick="@DeleteMultiRedditButton_OnClick">
                                Delete
                            </Button>
                        }
                    </Buttons>
                </Column>
            </Row>
        </CardFooter>
    </Card>
}