@using System.Web

@if (SubredditDetails != null)
{
    <Card TextColor="ThemeService.AppTheme.TextColor"
      Background="ThemeService.AppTheme.Background"
      Margin="ThemeService.AppTheme.SpacingSame"
      Border="ThemeService.AppTheme.Border">
        <CardBody>
            <Row>
                <Column ColumnSize="ColumnSize.IsAuto"
                    Flex="Flex.JustifyContent.Center.Column"
                    Width="Width.Is100"
                    Class="subreddit-icon-col">
                    <Image Border="Border.Rounded"
                       Source="@GetIconUrl()" />
                </Column>
                <Column>
                    <CardSubtitle Size="6"
                              TextColor="TextColor.Muted"
                              Margin="ThemeService.AppTheme.SpacingSame">
                        <Anchor Class="text-decoration-none"
                            To="@SubredditDetails.Data.Url">
                            @SubredditDetails.Data.Url
                        </Anchor>
                    </CardSubtitle>
                    <CardTitle Size="4">
                        @GetTitle()
                    </CardTitle>
                    @if (!IsUser && SubredditDetails.Data.Subscribers.HasValue)
                    {
                        <CardSubtitle Size="6"
                              TextColor="TextColor.Muted"
                              Margin="ThemeService.AppTheme.SpacingSame">
                            @SubredditDetails.Data.Subscribers.Value.ToDisplayString() subscribers
                        </CardSubtitle>
                    }
                    @if (SubredditDetails.Data.AccountsActive.HasValue)
                    {
                        <CardSubtitle Size="6"
                              TextColor="TextColor.Muted"
                              Margin="ThemeService.AppTheme.SpacingSame">
                            @SubredditDetails.Data.AccountsActive.Value.ToDisplayString() online
                        </CardSubtitle>
                    }
                    @if (SubredditDetails.Data.CreatedUtc.HasValue)
                    {
                        <CardSubtitle Size="6"
                              TextColor="TextColor.Muted"
                              Margin="ThemeService.AppTheme.SpacingSame">
                            Created @SubredditDetails.Data.CreatedUtc.Value.ToLocalDateTime()
                        </CardSubtitle>
                    }
                    <Flair Over18="@(SubredditDetails.Data.Over18 ?? false)"
                       Banned="@(SubredditDetails.Data.UserIsBanned ?? false)"
                       Contributor="@(SubredditDetails.Data.UserIsContributor ?? false)"
                       Moderator="@(SubredditDetails.Data.UserIsModerator ?? false)"
                       Muted="@(SubredditDetails.Data.UserIsMuted ?? false)"
                       Subscribed="@(SubredditDetails.Data.UserIsSubscriber ?? false)" />
                    @((MarkupString)HttpUtility.HtmlDecode(SubredditDetails.Data.PublicDescriptionHtml))
                </Column>
            </Row>
            @if (!string.IsNullOrWhiteSpace(SubredditDetails.Data.DescriptionHtml) && !ContentCollapsed)
            {
                <Row Margin="Margin.Is3.FromTop"
             NoGutters
             Flex="Flex.JustifyContent.Center.Row">
                    @((MarkupString)HttpUtility.HtmlDecode(SubredditDetails.Data.DescriptionHtml))
                </Row>
            }
        </CardBody>
        <CardFooter Class="border-secondary"
                Padding="Padding.Is0.FromBottom">
            <Row>
                @if (!string.IsNullOrWhiteSpace(SubredditDetails.Data.DescriptionHtml))
                {
                    <Column ColumnSize="ColumnSize.IsAuto"
                    Padding="Padding.Is2.FromBottom">
                        <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                        Border="ThemeService.AppTheme.Border"
                        @onclick="() => ContentCollapsed = !ContentCollapsed">
                            <span class="oi @(ContentCollapsed ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
                        </Button>
                    </Column>
                }
                @if (RedditService.LoggedIn)
                {
                    <Column ColumnSize="ColumnSize.IsAuto"
                    Padding="Padding.Is2.FromBottom">
                        <Buttons>
                            <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                            Border="ThemeService.AppTheme.Border"
                            @onclick="SubscribeButton_OnClick">
                                @(SubredditDetails.Data.UserIsSubscriber ?? false ? "Unsubscribe" : "Subscribe")
                            </Button>
                            <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                            Border="ThemeService.AppTheme.Border"
                            @onclick="AddToMultiRedditButton_OnClick">
                                Add to MultiReddit
                            </Button>
                        </Buttons>
                    </Column>
                }
            </Row>
        </CardFooter>
    </Card>
}