@using System.Web

@if (MultiReddit != null)
{
    <Card TextColor="App.TextColor" Background="App.Background" Margin="Margin.Is1.FromBottom" Border="Border.Secondary">
        <CardBody>
            <Row>
                <Column ColumnSize="ColumnSize.IsAuto" Flex="Flex.JustifyContent.Center.Column" Width="Width.Is25" class="multireddit-icon-col">
                    <Image Border="Border.Rounded" Source="@MultiReddit.Data.IconUrl" />
                </Column>
                <Column>
                    <CardSubtitle Size="6" TextColor="TextColor.Muted" Margin="Margin.Is1.FromBottom">
                        <Anchor To="@MultiReddit.Data.Path" Class="text-decoration-none">
                            @MultiReddit.Data.Path
                        </Anchor>
                    </CardSubtitle>
                    <CardTitle Size="4">
                        @MultiReddit.Data.DisplayName
                    </CardTitle>
                    <CardSubtitle Size="6" TextColor="TextColor.Muted" Margin="Margin.Is1.FromBottom">
                        @(MultiReddit.Data.Subreddits?.Count ?? 0) communities in this custom feed, @MultiReddit.Data.Visibility
                    </CardSubtitle>
                    <Flair Over18="@MultiReddit.Data.Over18" />
                    @((MarkupString)HttpUtility.HtmlDecode(MultiReddit.Data.DescriptionHtml))
                </Column>
            </Row>
            @if (!ContentCollapsed)
            {
                <Row Margin="Margin.Is3.FromTop" NoGutters Flex="Flex.JustifyContent.Center.Row">
                    <ListGroup>
                        @if (MultiReddit.Data.CanEdit)
                        {
                            <ListGroupItem Background="App.Background" Class="border-secondary">
                                <Addons>
                                    <Addon AddonType="AddonType.Body">
                                        <TextEdit Background="App.Background" TextColor="App.TextColor"
                                      Placeholder="Subreddit name" Border="Border.Secondary"
                                      @bind-Text="AddSubredditName" />
                                    </Addon>
                                    <Addon AddonType="AddonType.End">
                                        <Button Color="Color.Success" @onclick="AddSubredditButton_OnClick">
                                            Add
                                        </Button>
                                    </Addon>
                                </Addons>
                            </ListGroupItem>
                        }
                        @foreach (var subreddit in MultiReddit.Data.Subreddits.OrderBy(_ => _.Name))
                        {
                            <ListGroupItem Background="App.Background" TextColor="App.TextColor" Class="border-secondary">
                                <Row>
                                    <Column>
                                        <Row>
                                            <Anchor Width="Width.Auto" Class="text-decoration-none" To="@($"/r/{subreddit.Name}")">
                                                /r/@subreddit.Name
                                            </Anchor>
                                        </Row>
                                        @if (subreddit.Detail != null)
                                        {
                                            <Row>
                                                <Span Width="Width.Auto">
                                                    @subreddit.Detail.Subscribers.ToDisplayString() members
                                                </Span>
                                            </Row>
                                            <Row>
                                                <Span Width="Width.Auto">
                                                    <Flair Over18="@subreddit.Detail.Over18" />
                                                </Span>
                                            </Row>
                                        }
                                    </Column>
                                    @if (MultiReddit.Data.CanEdit)
                                    {
                                        <Column ColumnSize="ColumnSize.IsAuto" Flex="Flex.Column.JustifyContent.Center">
                                            <Button Color="Color.Danger" Outline @onclick="@(() => RemoveSubredditButton_OnClick(subreddit.Name))">
                                                Remove
                                            </Button>
                                        </Column>
                                    }
                                </Row>
                            </ListGroupItem>
                        }
                    </ListGroup>
                </Row>
            }
        </CardBody>
        <CardFooter Class="border-secondary">
            <Row>
                <Column ColumnSize="ColumnSize.IsAuto">
                    <Button Color="App.DefaultButtonColor" Border="Border.Secondary"
                        @onclick="() => ContentCollapsed = !ContentCollapsed">
                        <span class="oi @(ContentCollapsed ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
                    </Button>
                </Column>
                @if (MultiReddit.Data.CanEdit)
                {
                    <Column ColumnSize="ColumnSize.IsAuto">
                        <Button Color="App.DefaultButtonColor" Border="Border.Secondary"
                        @onclick="EditMultiRedditButton_OnClick">
                            Edit
                        </Button>
                    </Column>
                }
                @if (RedditService.LoggedIn)
                {
                    <Column ColumnSize="ColumnSize.IsAuto">
                        <Button Color="App.DefaultButtonColor" Border="Border.Secondary"
                        @onclick="CopyMultiRedditButton_OnClick">
                            Copy
                        </Button>
                    </Column>
                }
                @if (MultiReddit.Data.CanEdit)
                {
                    <Column ColumnSize="ColumnSize.IsAuto">
                        <Button Color="Color.Danger" Outline @onclick="@DeleteMultiRedditButton_OnClick">
                            Delete
                        </Button>
                    </Column>
                }
            </Row>
        </CardFooter>
    </Card>
}