@page "/account/karma-breakdown"

<h1>Karma Breakdown</h1>

@if (AccountKarmaBreakdown == null)
{
	<p>Loading karma breakdown...</p>
}
else
{
	<div class="card mb-3">
		<div class="card-body">
			<h2 class="card-title">Link Karma</h2>
			<RadzenChart>
				<RadzenPieSeries Data="@AccountKarmaBreakdown" Title="Link Karma" CategoryProperty="Subreddit" ValueProperty="LinkKarma" Fills="@SubredditNameHashColors" />
			</RadzenChart>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-body">
			<h2 class="card-title">Comment Karma</h2>
			<RadzenChart>
				<RadzenPieSeries Data="@AccountKarmaBreakdown" Title="Comment Karma" CategoryProperty="Subreddit" ValueProperty="CommentKarma" Fills="@SubredditNameHashColors" />
			</RadzenChart>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-header">
			<h2 class="mb-0">
				<button class="btn btn-link" type="button" @onclick="RawDataButton_OnClick">
					Raw Data
				</button>
			</h2>
		</div>

		<div class="@(RawDataCollapsed ? "collapse" : "")">
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Subreddit</th>
							<th>Comment Karma</th>
							<th>Link Karma</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var breakdown in AccountKarmaBreakdown)
						{
							<tr>
								<td>@breakdown.Subreddit</td>
								<td>@breakdown.CommentKarma</td>
								<td>@breakdown.LinkKarma</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}
