@using System.Web
@if (SubredditDetails != null)
{
    <div class="card text-dark bg-light mb-1">
        <div class="card-body">
            <div class="row">
                <div class="col-auto d-flex justify-content-center flex-column w-25 subreddit-icon-col">
                    <img class="rounded" src="@GetIconUrl()" />
                </div>
                <div class="col">
                    <h6 class="card-subtitle text-muted mb-1">
                        <a class="text-dcoration-none" href="@SubredditDetails.Data.Url">
                            @SubredditDetails.Data.Url
                        </a>
                    </h6>
                    <h4 class="card-title">
                        @GetTitle()
                    </h4>
                    @if (!IsUser)
                    {
                        <h6 class="card-subtitle text-muted mb-1">
                            @SubredditDetails.Data.Subscribers.ToDisplayString() subscribers
                        </h6>
                    }
                    @if (SubredditDetails.Data.AccountsActive.HasValue)
                    {
                        <h6 class="card-subtitle text-muted mb-1">
                            @SubredditDetails.Data.AccountsActive.Value.ToDisplayString() online
                        </h6>
                    }
                    <h6 class="card-subtitle text-muted mb-1">
                        Created @SubredditDetails.Data.CreatedUtc.ToLocalDateTime()
                    </h6>
                    <Flair Over18="@SubredditDetails.Data.Over18" />
                    @((MarkupString)HttpUtility.HtmlDecode(SubredditDetails.Data.PublicDescriptionHtml))
                </div>
            </div>
            @if (!string.IsNullOrWhiteSpace(SubredditDetails.Data.DescriptionHtml))
            {
                <div class="@(ContentCollapsed ? "collapse" : "mt-3 row g-0 d-flex justify-content-center flex-row")">
                    @((MarkupString)HttpUtility.HtmlDecode(SubredditDetails.Data.DescriptionHtml))
                </div>
            }
        </div>
        <div class="card-footer">
            <div class="row">
                @if (!string.IsNullOrWhiteSpace(SubredditDetails.Data.DescriptionHtml))
                {
                    <div class="col-auto">
                        <button class="btn btn-light" @onclick="() => ContentCollapsed = !ContentCollapsed">
                            @if (ContentCollapsed)
                            {
                                <span class="oi oi-chevron-bottom"></span>
                            }
                            else
                            {
                                <span class="oi oi-chevron-top"></span>
                            }
                        </button>
                    </div>
                }
                @if (RedditService.LoggedIn)
                {
                    <div class="col-auto">
                        <button class="btn btn-light" @onclick="AddToMultiRedditButton_OnClick">
                            Add to MultiReddit
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
}