@using OrangeRedDotNet.Models
@using OrangeRedDotNet.Models.Comments
@using System.Web

@if (Comment.Data is CommentData commentData)
{
    <Card TextColor="ThemeService.AppTheme.TextColor"
      Background="ThemeService.AppTheme.Background"
      Margin="ThemeService.AppTheme.SpacingSame"
      Border="@(commentData.Stickied ? Border.Success : ThemeService.AppTheme.Border)"
      @ondblclick="() => RepliesCollapsed = !RepliesCollapsed">
        <CardBody>
            <Row>
                <Column>
                    <CardSubtitle Size="6"
                              Margin="ThemeService.AppTheme.SpacingSame">
                        <Anchor Class="text-decoration-none"
                            To="@($"/user/{commentData.Author}")">
                            /u/@commentData.Author
                        </Anchor>
                        <Flair FlairBackgroundColor="@commentData.AuthorFlairBackgroundColor"
                           FlairRichtext="@commentData.AuthorFlairRichtext"
                           FlairText="@commentData.AuthorFlairText"
                           FlairTextColor="@commentData.AuthorFlairTextColor"
                           FlairType="@commentData.AuthorFlairType"
                           IsOriginalPoster="@(commentData.Author.Equals(OriginalPoster))"
                           ShowFlair="@(RedditService.Preferences?.ShowFlair ?? true)" />
                    </CardSubtitle>
                    <CardSubtitle Size="6"
                              Margin="ThemeService.AppTheme.SpacingSame"
                              TextColor="TextColor.Muted">
                        @commentData.CreatedUtc.ToLocalDateTime()
                    </CardSubtitle>
                    <Awardings Data="@commentData.AllAwardings" />
                    <Flair Stickied="@commentData.Stickied"
                       Locked="@commentData.Locked"
                       Saved="@commentData.Saved"
                       Controversial="@((RedditService.Preferences?.HighlightControversial ?? false) && (commentData.Controversiality > 0))" />
                    @if (!RepliesCollapsed)
                    {
                        <Row NoGutters="true">
                            @((MarkupString)HttpUtility.HtmlDecode(commentData.BodyHtml))
                        </Row>
                    }
                </Column>
            </Row>
        </CardBody>
        <CardFooter Class="border-secondary"
                Padding="Padding.Is0.FromBottom">
            <Row>
                @if (!RepliesCollapsed)
                {
                    <Column ColumnSize="ColumnSize.IsAuto"
                    Padding="Padding.Is2.FromBottom">
                        <VoteInput Likes="@commentData.Likes"
                           Score="@commentData.Score"
                           ScoreHidden="@commentData.ScoreHidden"
                           Id="@commentData.Name"
                           Archived="@commentData.Archived" />
                    </Column>
                }
                <Column ColumnSize="ColumnSize.IsAuto"
                    Padding="Padding.Is2.FromBottom">
                    <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                        Border="ThemeService.AppTheme.Border"
                        @onclick="() => RepliesCollapsed = !RepliesCollapsed">
                        <span class="oi @(RepliesCollapsed ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
                    </Button>
                </Column>
                @if (!RepliesCollapsed && RedditService.LoggedIn)
                {
                    <Column ColumnSize="ColumnSize.IsAuto"
                    Padding="Padding.Is2.FromBottom">
                        <Buttons>
                            @if (CanPostComment())
                            {
                                <Button Color="ShowNewCommentCard ? Color.Primary : ThemeService.AppTheme.DefaultButtonColor"
                            Border="ThemeService.AppTheme.Border"
                            @onclick="() => ShowNewCommentCard = !ShowNewCommentCard">
                                    <span class="oi oi-comment-square"></span>
                                    Reply
                                </Button>
                            }
                            <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                            Border="ThemeService.AppTheme.Border"
                            @onclick="SaveToggleButton_OnClick">
                                <span class="oi oi-bookmark @(commentData.Saved ? "text-primary" : "")"></span>
                            </Button>
                        </Buttons>
                    </Column>
                }
                @if (RepliesCollapsed)
                {
                    <Column ColumnSize="ColumnSize.IsAuto"
                    Flex="Flex.JustifyContent.Center.Column"
                    Padding="Padding.Is2.FromBottom">
                        <span>@(commentData.Replies?.Data?.Children?.Count ?? 0) children comments</span>
                    </Column>
                }
            </Row>
        </CardFooter>
    </Card>
    @if (!RepliesCollapsed || ShowNewCommentCard)
    {
        <Div Margin="ThemeService.AppTheme.SpacingSame"
     Class="comment-border">
            <Div Margin="Margin.Is2.FromStart">
                @if (ShowNewCommentCard)
                {
                    <NewCommentCard ParentId="@(commentData.Name)"
                        NewComments="OnNewComments" />
                }
                @if (!RepliesCollapsed && commentData.Replies != null && commentData.Replies?.Data?.Children?.Count > 0)
                {
                    <CommentsList Comments="@commentData.Replies"
                      OriginalPoster="@OriginalPoster"
                      LinkFullName="@LinkFullName"
                      CommentSort="@CommentSort"
                      ParentLinkLocked="@ParentLinkLocked" />
                }
            </Div>
        </Div>
    }
}
else if (Comment.Data is MoreData moreData)
{
    @foreach (var comment in MoreComments)
    {
        <CommentCard Comment="@comment"
             OriginalPoster="@OriginalPoster"
             LinkFullName="@LinkFullName"
             CommentSort="@CommentSort"
             ParentLinkLocked="@ParentLinkLocked" />
    }
    @if (MoreLoaded)
    {
        @if (moreData.Children.Count > 0)
        {
            <Button Color="Color.Link"
        Class="text-decoration-none"
        @onclick="MoreCommentsButton_OnClick">
                Load more comments (@moreData.Count replies)
            </Button>
            <br />
        }
    }
    else
    {
        <Paragraph>
            Loading...
        </Paragraph>
    }
}