@using RedditDotNet.Models
@using RedditDotNet.Models.Comments
@using System.Web

@if (Comment.Data is CommentData commentData)
{
    <div class="card text-dark bg-light mb-1 @(commentData.Stickied ? "border-success" : "")"
     @ondblclick="Card_OnDblClick">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h6 class="card-subtitle mb-1">
                        <a class="text-decoration-none" href="/user/@commentData.Author">/u/@commentData.Author</a>
                        <Flair FlairBackgroundColor="@commentData.AuthorFlairBackgroundColor"
                           FlairRichtext="@commentData.AuthorFlairRichtext"
                           FlairText="@commentData.AuthorFlairText"
                           FlairTextColor="@commentData.AuthorFlairTextColor"
                           FlairType="@commentData.AuthorFlairType" />
                    </h6>
                    <h6 class="card-subtitle mb-1 text-muted">
                        @commentData.CreatedUtc.ToDateTimeUtc()
                    </h6>
                    <Awardings Data="@commentData.AllAwardings" />
                    <Flair Stickied="@commentData.Stickied"
                       Locked="@commentData.Locked" />
                    @if (!RepliesCollapsed)
                    {
                        <div class="row g-0">
                            @((MarkupString)HttpUtility.HtmlDecode(commentData.BodyHtml))
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto">
                    <VoteInput Likes="@commentData.Likes"
                           Score="@commentData.Score"
                           ScoreHidden="@commentData.ScoreHidden"
                           Id="@commentData.Name"
                           Archived="@commentData.Archived" />
                </div>
                <div class="col-auto">
                    <button class="btn btn-light" @onclick="RepliesCollapsedButton_OnClick">
                        @if (RepliesCollapsed)
                        {
                            <span class="oi oi-chevron-bottom"></span>
                        }
                        else
                        {
                            <span class="oi oi-chevron-top"></span>
                        }
                    </button>
                </div>
                @if (RepliesCollapsed)
                {
                    <div class="col-auto d-flex justify-content-center flex-column">
                        <span>@(commentData.Replies?.Data?.Children?.Count ?? 0) children comments</span>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (!RepliesCollapsed && commentData.Replies != null && commentData.Replies?.Data?.Children?.Count > 0)
    {
        <div class="border-start border-secondary border-3">
            <div class="ms-2">
                <CommentsList Comments="@commentData.Replies" />
            </div>
        </div>
    }
}
else
{
    <p>Comment has more @Comment.Data.Id</p>
}