@page "/controversial"
@page "/r/{subreddit}/controversial"

@if (!string.IsNullOrWhiteSpace(Subreddit))
{
    <h2>@Subreddit</h2>
}

<LinkListingNavTabs ActiveTab="LinkListingTabs.Controversial" Subreddit="@Subreddit" />

@if (Links == null)
{
    <p>Getting the spiciest posts...</p>
}
else
{
    <LinkList Links="@Links" />

    <LinkListingPagination After="@Links?.Data?.After"
                       Before="@Links?.Data?.Before"
                       CurrentPageParameters="@LinkListingHelpers.BuildSortListingParameters(After, Before, Count, Limit)"
                       RelativeUrl="@GetRelativeUrl()" />
}