@page "/r/{subreddit}/duplicates/{articleId}"

@if (DuplicateLinks == null)
{
    <h2>@Subreddit</h2>
    <p>Whoa, déjà vu...</p>
}
else
{
    <LinkList Links="DuplicateLinks.Originals" />
    <hr />
    <LinkList Links="@DuplicateLinks.Duplicates" />
    <ListingPagination 
        After="@DuplicateLinks.Duplicates?.Data?.After"
        Before="@DuplicateLinks.Duplicates?.Data?.Before"
        CurrentPageParameters="@BuildParameters()"
        RelativeUrl="@GetRelativeUrl()" />
}