@page "/hot"
@page "/r/{subreddit}"
@page "/r/{subreddit}/hot"

@if (!string.IsNullOrWhiteSpace(Subreddit))
{
    <h2>@Subreddit</h2>
}

<LinkListingNavTabs ActiveTab="LinkListingTabs.Hot" Subreddit="@Subreddit" />

@if (Links == null)
{
    <p>Getting some hot posts straight from the oven...</p>
}
else
{
    <LinkList Links="@Links" />

    <LinkListingPagination After="@Links?.Data?.After"
                       Before="@Links?.Data?.Before"
                       CurrentPageParameters="@LinkListingHelpers.BuildLocationListingParameters(After, Before, Count, Limit)"
                       RelativeUrl="@GetRelativeUrl()" />
}