@page "/"
@page "/{listingType}"
@page "/r/{subreddit}"
@page "/r/{subreddit}/{listingType}"
@page "/user/{userName}/m/{multiName}"
@page "/user/{userName}/m/{multiName}/{listingType}"
@page "/me/m/{multiName}"
@page "/me/m/{multiName}/{listingType}"

@if (IsSubreddit)
{
    @if (!SubredditDetailsLoaded)
    {
        <h2>@Subreddit</h2>
    }
    else
    {
        <SubredditCard SubredditDetails="@SubredditDetails" />
        <SubredditRulesCard Rules="@Rules" />
        <hr />
    }
}
else if (IsMultiReddit)
{
    @if (!MultiRedditLoaded)
    {
        <h2>@GetMultiRedditUrl()</h2>
    }
    else
    {
        <MultiRedditCard MultiReddit="@MultiReddit"
                 OnMultiRedditDelete="OnMultiRedditDelete"
                 OnMultiRedditCopy="OnMultiRedditCopy" />
        <hr />
    }
}

<div class="row">
    <div class="col-auto">
        <LinkListingNavTabs ActiveTab="@GetListingType()" Subreddit="@Subreddit" MultiRedditPath="@GetMultiRedditUrl()" />
    </div>
    @if (GetListingType().Equals("controversial") || GetListingType().Equals("top"))
    {
        <div class="col-auto">
            <select value="@Timescale" class="form-select mb-2" style="width: auto;" @onchange="TimescaleSelect_OnChange">
                <option value="hour">Hour</option>
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
                <option value="all">All</option>
            </select>
        </div>
    }
</div>

@if (LinkListing == null)
{
    <p>@GetLoadingQuip()</p>
}
else
{
    <LinkList Links="@LinkListing" />

    <ListingPagination After="@LinkListing?.Data?.After"
                   Before="@LinkListing?.Data?.Before"
                   CurrentPageParameters="@BuildParameters()"
                   RelativeUrl="@GetRelativeUrl()" />
}