@page "/"
@page "/{listingType}"
@page "/r/{subreddit}"
@page "/r/{subreddit}/{listingType}"

@if (!string.IsNullOrWhiteSpace(Subreddit))
{
    <h2>@Subreddit</h2>
}

<LinkListingNavTabs ActiveTab="@GetListingType()" Subreddit="@Subreddit" />

@if (Links == null)
{
    <p>@GetLoadingQuip()</p>
}
else
{
    <LinkList Links="@Links" />

    <LinkListingPagination After="@Links?.Data?.After"
                       Before="@Links?.Data?.Before"
                       CurrentPageParameters="@BuildParameters()"
                       RelativeUrl="@GetRelativeUrl()" />
}