@page "/new"
@page "/r/{subreddit}/new"

@if (!string.IsNullOrWhiteSpace(Subreddit))
{
    <h2>@Subreddit</h2>
}

<LinkListingNavTabs ActiveTab="LinkListingTabs.New" Subreddit="@Subreddit" />

@if (Links == null)
{
    <p>Getting the latest posts straight from the source...</p>
}
else
{
    <LinkList Links="@Links" />

    <LinkListingPagination After="@Links?.Data?.After"
                       Before="@Links?.Data?.Before"
                       CurrentPageParameters="@LinkListingHelpers.BuildListingParameters(After, Before, Count, Limit)"
                       RelativeUrl="@GetRelativeUrl()" />
}