@page "/top"
@page "/r/{subreddit}/top"

@if (!string.IsNullOrWhiteSpace(Subreddit))
{
    <h2>@Subreddit</h2>
}

<LinkListingNavTabs ActiveTab="LinkListingTabs.Top" Subreddit="@Subreddit" />

@if (Links == null)
{
    <p>Getting the tippity top of Reddit...</p>
}
else
{
    <LinkList Links="@Links" />

    <LinkListingPagination After="@Links?.Data?.After"
                       Before="@Links?.Data?.Before"
                       CurrentPageParameters="@LinkListingHelpers.BuildSortListingParameters(After, Before, Count, Limit)"
                       RelativeUrl="@GetRelativeUrl()" />
}