@page "/u/{userName}"
@page "/u/{userName}/{listingType}"
@page "/user/{userName}"
@page "/user/{userName}/{listingType}"

@if (Account == null)
{
    <h2>@UserName</h2>
    <p>Loading profile...</p>
}
else
{
    <UserCard AccountData="@Account.Data" />
}

@if (Trophies == null)
{
    <p>Loading trophies...</p>
}
else
{
    <TrophiesCard Trophies="@Trophies" />
}

<hr />

@if (Overview == null)
{
    <p>Loading overview...</p>
}
else 
{
    <LinkOrCommentList Listing="@Overview" />

    <ListingPagination After="@Overview?.Data?.After"
                       Before="@Overview?.Data?.Before"
                       CurrentPageParameters="@BuildParameters()"
                       RelativeUrl="@GetRelativeUrl()" />
}