@page "/u/{userName}"
@page "/u/{userName}/{listingType}"
@page "/user/{userName}"
@page "/user/{userName}/{listingType}"

@if (Account == null)
{
    <h2>@UserName</h2>
    <p>Loading profile...</p>
}
else
{
    <UserCard AccountData="@Account.Data" />
}

@if (Trophies == null)
{
    <p>Loading trophies...</p>
}
else
{
    <TrophiesCard Trophies="@Trophies" />
}

<hr />

<UserProfileNavTabs UserName="@UserName"
                    ActiveTab="@GetListingType()" />
@if (!ListingLoaded)
{
    <p>@GetLoadingQuip()</p>
}
else
{
    @switch (GetListingType())
    {
        case UserProfileListingType.Overview:
            <LinkOrCommentList Listing="@Overview" />
            <ListingPagination After="@Overview?.Data?.After"
                   Before="@Overview?.Data?.Before"
                   CurrentPageParameters="@BuildParameters()"
                   RelativeUrl="@GetRelativeUrl()" />
            break;
        case UserProfileListingType.Comments:
            <CommentList Comments="@Comments" />
            <ListingPagination After="@Comments?.Data?.After"
                   Before="@Comments?.Data?.Before"
                   CurrentPageParameters="@BuildParameters()"
                   RelativeUrl="@GetRelativeUrl()" />
            break;
    }
}