@page "/u/{userName}"
@page "/u/{userName}/{listingType}"
@page "/user/{userName}"
@page "/user/{userName}/{listingType}"

@if (!ProfileLoaded)
{
    <h2>@UserName</h2>
    <p>Loading profile...</p>
}
else
{
    <UserCard AccountData="@Account.Data" />
    <TrophiesCard Trophies="@Trophies" />
    @if (IsSelf)
    {
        <KarmaBreakdownCard AccountKarmaBreakdown="@KarmaBreakdown" />
    }
}

<hr />
<div class="row">
    <div class="col-auto">
        <UserProfileNavTabs UserName="@UserName"
                            ActiveTab="@GetListingType()"
                            IsSelf="@IsSelf" />
    </div>
    @switch (GetListingType())
    {
        case UserProfileListingType.Overview:
        case UserProfileListingType.Comments:
        case UserProfileListingType.Submitted:
        case UserProfileListingType.Gilded:
            <div class="col-auto">
                <select value="@Sort" class="form-select mb-2" style="width: auto;" @onchange="SortSelect_OnChange">
                    <option value="hot">Hot</option>
                    <option value="new">New</option>
                    <option value="top">Top</option>
                    <option value="controversial">Controversial</option>
                </select>
            </div>
            @if ((Sort?.Equals("top") ?? false) || (Sort?.Equals("controversial") ?? false))
            {
                <div class="col-auto">
                    <select value="@Timescale" class="form-select mb-2" style="width: auto;" @onchange="TimescaleSelect_OnChange">
                        <option value="hour">Hour</option>
                        <option value="day">Day</option>
                        <option value="week">Week</option>
                        <option value="month">Month</option>
                        <option value="year">Year</option>
                        <option value="all">All</option>
                    </select>
                </div>
            }
            break;
        default:
            break;
    }
</div>
@if (!ListingLoaded)
{
    <p>@GetLoadingQuip()</p>
}
else
{
    @switch (GetListingType())
    {
        case UserProfileListingType.Overview:
        case UserProfileListingType.Gilded:
        case UserProfileListingType.Upvoted:
        case UserProfileListingType.Downvoted:
        case UserProfileListingType.Hidden:
        case UserProfileListingType.Saved:
            <LinkOrCommentList Listing="@LinksOrComments" />
            <ListingPagination After="@LinksOrComments?.Data?.After"
                   Before="@LinksOrComments?.Data?.Before"
                   CurrentPageParameters="@BuildParameters()"
                   RelativeUrl="@GetRelativeUrl()" />
            break;
        case UserProfileListingType.Comments:
            <CommentList Comments="@Comments" />
            <ListingPagination After="@Comments?.Data?.After"
                   Before="@Comments?.Data?.Before"
                   CurrentPageParameters="@BuildParameters()"
                   RelativeUrl="@GetRelativeUrl()" />
            break;
        case UserProfileListingType.Submitted:
            <LinkList Links="@Links" ContentCollapsed="true" />
            <ListingPagination After="@Links?.Data?.After"
                   Before="@Links?.Data?.Before"
                   CurrentPageParameters="@BuildParameters()"
                   RelativeUrl="@GetRelativeUrl()" />
            break;
    }
}