@using RedditDotNet.Models
@using RedditDotNet.Models.Comments
@using System.Web

@if (Comment.Data is CommentData commentData)
{
    <div class="card text-dark bg-light mb-1" @ondblclick="Card_OnDblClick">
        <div class="card-body">
            <div class="row">
                <div class="col-auto">
                    <h6 class="card-subtitle mb-1" @onclick="RepliesCollapsedButton_OnClick">
                        @if (RepliesCollapsed)
                        {
                            <span>[+]</span>
                        }
                        else
                        {
                            <span>[-]</span>
                        }
                    </h6>
                </div>
                <div class="col-auto">
                    <h6 class="card-subtitle mb-1">
                        <a class="text-decoration-none">/u/@commentData.Author</a>
                    </h6>
                </div>
                @if (!commentData.ScoreHidden)
                {
                    <div class="col-auto">
                        <h6 class="card-subtitle mb-1 text-muted">
                            @commentData.Score points
                        </h6>
                    </div>
                }
                <div class="col-auto">
                    <h6 class="card-subtitle mb-1 text-muted">
                        @commentData.CreatedUtc.ToDateTimeUtc()
                    </h6>
                </div>
            </div>
            @if (!RepliesCollapsed)
            {
                <div class="row g-0">
                    @((MarkupString)HttpUtility.HtmlDecode(commentData.BodyHtml))
                </div>
            }
            else
            {
                <div class="row g-0">
                    <h6 class="card-subtitle mb-1 text-muted">
                        (@(commentData.Replies?.Data?.Children?.Count ?? 0) children comments)
                    </h6>
                </div>
            }
        </div>
    </div>
    @if (!RepliesCollapsed && commentData.Replies != null && commentData.Replies?.Data?.Children?.Count > 0)
    {
        <div class="border-start border-secondary border-3">
            <div class="ms-2">
                <CommentsList Comments="@commentData.Replies" />
            </div>
        </div>
    }
}
else
{
    <p>Comment has more @Comment.Data.Id</p>
}