@using RedditDotNet.Models
@using RedditDotNet.Models.Links
@using System.Web

@if(IsOriginalPoster)
{
    <span class="badge bg-primary me-1">OP</span>
}
@if (LinkType != null)
{
    <span class="badge bg-primary me-1">@LinkType.ToString()</span>
}
@if (Over18)
{
    <span class="badge bg-danger me-1">NSFW</span>
}
@if (Spoiler)
{
    <span class="badge bg-warning text-dark me-1">Spoiler</span>
}
@if (Locked)
{
    <span class="badge bg-warning text-dark me-1">Locked</span>
}
@if (Stickied)
{
    <span class="badge bg-success me-1">Stickied</span>
}
@if (Archived)
{
    <span class="badge bg-secondary me-1">Archived</span>
}
@if (IsOriginalContent)
{
    <span class="badge bg-primary me-1">OC</span>
}
@if (Banned)
{
    <span class="badge bg-danger me-1">You are banned</span>
}
@if (Contributor)
{
    <span class="badge bg-success me-1">You are a contributor</span>
}
@if (Moderator)
{
    <span class="badge bg-success me-1">You are a moderator</span>
}
@if (Muted)
{
    <span class="badge bg-warning text-dark me-1">You are muted</span>
}
@if (Subscribed)
{
    <span class="badge bg-primary me-1">Subscribed</span>
}

@switch (FlairType?.ToLower())
{
    case "text":
        if (!string.IsNullOrWhiteSpace(FlairText))
        {
            <span class="@FlairClass()" style="@FlairStyle()">@((MarkupString)HttpUtility.HtmlDecode(FlairText))</span>
        }
        break;
    case "richtext":
        <span class="@FlairClass()" style="@FlairStyle()">
            @if (FlairRichtext?.Count > 0)
            {
                @foreach (FlairRichtext flair in FlairRichtext)
                {
                    switch (flair?.Type.ToLower())
                    {
                        case "text":
                            if (!string.IsNullOrWhiteSpace(flair?.Text))
                            {
                                @((MarkupString)HttpUtility.HtmlDecode(flair?.Text))
                            }
                            break;
                        case "emoji":
                            <img src="@flair?.Url" alt="@flair?.Tag" class="flair-emoji" />
                            break;
                        default:
                            break;
                    }
                }
            }
            else if (!string.IsNullOrWhiteSpace(FlairText))
            {
                @((MarkupString)HttpUtility.HtmlDecode(FlairText))
            }
        </span>
        break;
    default:
        break;
}