<ul class="nav nav-tabs mb-2">
    @if (string.IsNullOrWhiteSpace(Subreddit))
    {
        <li class="nav-item">
            <a class="@(ActiveTab == LinkListingTabs.Best ? "nav-link active" : "nav-link")" href="/best">Best</a>
        </li>
    }
    <li class="nav-item">
        <a class="@(ActiveTab == LinkListingTabs.Hot ? "nav-link active" : "nav-link")" href="@(GetSubredditPrefix())/hot">Hot</a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == LinkListingTabs.New ? "nav-link active" : "nav-link")" href="@(GetSubredditPrefix())/new">New</a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == LinkListingTabs.Rising ? "nav-link active" : "nav-link")" href="@(GetSubredditPrefix())/rising">Rising</a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == LinkListingTabs.Controversial ? "nav-link active" : "nav-link")" href="@(GetSubredditPrefix())/controversial">Controversial</a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == LinkListingTabs.Top ? "nav-link active" : "nav-link")" href="@(GetSubredditPrefix())/top">Top</a>
    </li>
</ul>
