<ul class="nav nav-tabs mb-2">
    <li class="nav-item">
        <a class="@(ActiveTab == LinkListingTabs.Best ? "nav-link active" : "nav-link")" href="/best">Best</a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == LinkListingTabs.Hot ? "nav-link active" : "nav-link")" href="/hot">Hot</a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == LinkListingTabs.New ? "nav-link active" : "nav-link")" href="/new">New</a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == LinkListingTabs.Rising ? "nav-link active" : "nav-link")" href="/rising">Rising</a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == LinkListingTabs.Controversial ? "nav-link active" : "nav-link")" href="/controversial">Controversial</a>
    </li>
    <li class="nav-item">
        <a class="@(ActiveTab == LinkListingTabs.Top ? "nav-link active" : "nav-link")" href="/top">Top</a>
    </li>
</ul>
