<Bar @bind-Visible="@NavMenuCollapsed"
     Breakpoint="Breakpoint.Desktop"
     NavigationBreakpoint="Breakpoint.Desktop"
     Background="ThemeService.AppTheme.Background"
     ThemeContrast="ThemeService.AppTheme.ThemeContrast"
     Margin="ThemeService.AppTheme.SpacingSeparate"
     Class="border-bottom border-secondary">
    <Container Fluid>
        <BarBrand>
            <Anchor To=""
                    TextColor="ThemeService.AppTheme.TextColor"
                    Class="text-decoration-none">
                @Configuration["BrandName"]
            </Anchor>
        </BarBrand>
        <BarToggler />
        <BarMenu>
            <BarStart>
                <BarItem>
                    <BarLink To="r/popular"
                             Match="Match.Prefix">
                        Popular
                    </BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="r/all"
                             Match="Match.Prefix">
                        All
                    </BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="subreddits"
                             Match="Match.Prefix">
                        Subreddits
                    </BarLink>
                </BarItem>
            </BarStart>
            <Addons Size="Size.Default"
                    Padding="Padding.Is2.OnX.OnDesktop.Is0.OnMobile">
                @if (!string.IsNullOrWhiteSpace(Subreddit) && !Subreddit.IsSpecialSubreddit())
                {
                    <Addon AddonType="AddonType.Start">
                        <AddonLabel Border="Border.Secondary"
                                Background="ThemeService.AppTheme.Background"
                                TextColor="ThemeService.AppTheme.TextColor">
                            /r/@Subreddit
                        </AddonLabel>
                    </Addon>
                }
                <Addon AddonType="AddonType.Body">
                    <TextEdit Placeholder="@($"Search {(!string.IsNullOrWhiteSpace(Subreddit) && !Subreddit.IsSpecialSubreddit() ? $"/r/{Subreddit}" : "Reddit")}")"
                              Style="@($"background-color: {(ThemeService.AppTheme.DarkMode ? "black" : "white")};")"
                              Border="Border.Secondary"
                              TextColor="ThemeService.AppTheme.TextColor"
                              @bind-Text="SearchQuery"
                              @onkeypress="OnSearchSubmit" />
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Color="Color.Primary"
                            @onclick="SearchHandler">
                        Search
                    </Button>
                </Addon>
            </Addons>
            <BarEnd>
                @if (RedditService.LoggedIn)
                {
                    <BarItem>
                        <BarDropdown RightAligned>
                            <BarDropdownToggle>
                                @(RedditService.Identity?.Name ?? "Loading...")
                            </BarDropdownToggle>
                            <BarDropdownMenu Class="@(ThemeService.AppTheme.DarkMode ? "dropdown-menu-dark" : "")">
                                <BarDropdownItem To="@($"user/{RedditService.Identity?.Name}")"
                                             Match="Match.Prefix">
                                    Profile
                                </BarDropdownItem>
                                <BarDropdownItem To="multis">
                                    MultiReddits
                                </BarDropdownItem>
                                <BarDropdownItem To="settings"
                                             Match="Match.Prefix">
                                    Settings
                                </BarDropdownItem>
                                <BarDropdownItem To="logout">
                                    Log Out
                                </BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                }
                else
                {
                    <BarItem>
                        <BarLink To="login"
                             Match="Match.All"
                             TextOverflow="TextOverflow.NoWrap">
                            Log in
                        </BarLink>
                    </BarItem>
                }
            </BarEnd>
        </BarMenu>
    </Container>
</Bar>