<Addons>
    <Addon AddonType="AddonType.Start">
        <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                Border="ThemeService.AppTheme.Border"
                @onclick="UpButton_OnClick"
                Disabled="@(Archived || !RedditService.LoggedIn)">
            <Span Class="@("oi oi-arrow-thick-top " +(Likes.HasValue ? (Likes.Value ? "upvoted" : "") : ""))"></Span>
        </Button>
    </Addon>
    <Addon AddonType="AddonType.Body">
        <AddonLabel Background="ThemeService.AppTheme.Background"
                    TextColor="ThemeService.AppTheme.TextColor"
                    Border="ThemeService.AppTheme.Border"
                    Class="@(Likes.HasValue ? (Likes.Value ? "upvoted" : "downvoted") : "")">
            @if (ScoreHidden)
            {
                <Span>Score Hidden</Span>
            }
            else
            {
                @Score.ToDisplayString()
            }
        </AddonLabel>
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                Border="ThemeService.AppTheme.Border"
                @onclick="DownButton_OnClick"
                Disabled="@(Archived || !RedditService.LoggedIn)">
            <Span Class="@("oi oi-arrow-thick-bottom " +(Likes.HasValue ? (Likes.Value ? "" : "downvoted") : ""))"></Span>
        </Button>
    </Addon>
</Addons>