@using System.Web

<Card TextColor="ThemeService.AppTheme.TextColor"
      Background="ThemeService.AppTheme.Background"
      Margin="ThemeService.AppTheme.SpacingSame"
      Border="ThemeService.AppTheme.Border">
    <CardBody>
        <Row>
            <Column ColumnSize="ColumnSize.IsAuto"
                    Flex="Flex.JustifyContent.Center.Column">
                <Image Border="Border.Rounded"
                       Class="user-profile-img"
                       Source="@HttpUtility.HtmlDecode(AccountData.IconImg)" />
            </Column>
            <Column>
                <CardTitle Size="4">
                    @Title
                </CardTitle>
                <CardSubtitle Size="6"
                              TextColor="TextColor.Muted"
                              Margin="ThemeService.AppTheme.SpacingSame">
                    <Anchor Class="text-decoration-none"
                            To="@($"/user/{AccountData.Name}")">
                        /u/@AccountData.Name
                    </Anchor>
                </CardSubtitle>
                <CardSubtitle Size="6"
                              TextColor="TextColor.Muted"
                              Margin="ThemeService.AppTheme.SpacingSame">
                    Joined @AccountData.CreatedUTC.ToLocalDateTime()
                </CardSubtitle>
                <CardSubtitle Size="6"
                              TextColor="TextColor.Muted"
                              Margin="ThemeService.AppTheme.SpacingSame">
                    @AccountData.TotalKarma.ToDisplayString() Karma
                    (@AccountData.LinkKarma.ToDisplayString() Link,
                    @AccountData.CommentKarma.ToDisplayString() Comment)
                </CardSubtitle>
                <Div>
                    <Flair Over18="@(AccountData.Subreddit?.Over18 ?? false)"
                           Banned="@(AccountData.Subreddit?.UserIsBanned ?? false)"
                           Contributor="@(AccountData.Subreddit?.UserIsContributor ?? false)"
                           Moderator="@(AccountData.Subreddit?.UserIsModerator ?? false)"
                           Muted="@(AccountData.Subreddit?.UserIsMuted ?? false)"
                           Subscribed="@(AccountData.Subreddit?.UserIsSubscriber ?? false)" />
                </Div>
                @if (!string.IsNullOrWhiteSpace(Description))
                {
                    @((MarkupString)HttpUtility.HtmlDecode(Description))
                }
            </Column>
        </Row>
    </CardBody>
    <CardFooter Class="border-secondary"
                Padding="Padding.Is0.FromBottom">
        <Row>
            @if (RedditService.LoggedIn)
            {
                <Column ColumnSize="ColumnSize.IsAuto"
                    Padding="Padding.Is2.FromBottom">
                    <Buttons>
                        @if (AccountData.Subreddit != null)
                        {
                            <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                            Border="ThemeService.AppTheme.Border"
                            @onclick="FollowButton_OnClick">
                                @(AccountData.Subreddit.UserIsSubscriber ?? false ? "Unfollow" : "Follow")
                            </Button>
                        }
                        <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                            Border="ThemeService.AppTheme.Border"
                            @onclick="AddToMultiRedditButton_OnClick">
                            Add to MultiReddit
                        </Button>
                    </Buttons>
                </Column>
            }
        </Row>
    </CardFooter>
</Card>